<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Data Output
        </div>
        <div class="card-body">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                </div><!--/.col-->
                <div class="col-sm-6">
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                </div><!--/.col-->
                <div class="col-sm-6">
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
